sentry-sdk~=2.20
python-keycloak~=7.1
requests~=2.32
dateutils~=0.6
python-dateutil~=2.9
pandas~=2.2
numpy~=2.2
pytz~=2025.1
pendulum~=3.0
matplotlib~=3.10
holidays~=0.62
PyYAML~=6.0
python-json-logger~=4.1

pytest~=8.3
