name: Metadata API Sync

on:
  push:
    paths:
      - "metadata-api-sync/**"
      - ".github/workflows/ci-metadata-api-sync.yml"
      - "!*.md"

env:
  WORKING_DIRECTORY: metadata-api-sync
  PROJECT_NAME: odh-content-el-metadata-update-script
  DOCKER_IMAGE: ghcr.io/${{ github.repository }}/odh-content-el-metadata-update-script
  DOCKER_TAG: ${{ github.sha }}

jobs:
  test:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout source code
        uses: actions/checkout@v2
      - name: REUSE Compliance Check
        uses: fsfe/reuse-action@v5
#      - name: Test code
#        uses: noi-techpark/github-actions/pip-test@v2
#        with:
#          python-version: '3.11'
#          working-directory: ${{ env.WORKING_DIRECTORY }}
#          test-command: python -m unittest discover test -t src -p Test*.py

  # Deploy Test
  deploy-test-environment-a22-non-linear-calibration:
    runs-on: ubuntu-22.04
    if: github.ref == 'refs/heads/main'
    needs: test
    concurrency: deploy-test-environment-a22-non-linear-calibration
    steps:
      - name: Checkout source code
        uses: actions/checkout@v2

      - name: Create .env file
        uses: noi-techpark/github-actions/env-file@v2
        with:
          working-directory: ${{ env.WORKING_DIRECTORY }}
        env:
          # General deployment options
          X_COMPOSE_PROJECT_NAME: ${{ env.PROJECT_NAME }}
          X_DOCKER_IMAGE: ${{ env.DOCKER_IMAGE }}
          X_DOCKER_TAG: ${{ env.DOCKER_TAG }}

          # Program specific env variables
          X_CONTENT_API_URL: https://tourism.api.opendatahub.testingmachine.eu/v1/
          X_AUTH_BASE: https://auth.opendatahub.testingmachine.eu
          X_REALM : noi
          X_CLIENT_ID: odh-api-metadata
          X_CLIENT_SECRET: ${{ secrets.EL_METADATA_CLIENT_SECRET_TEST }}
          # run job every n seconds
          X_JOB_SCHEDULE_SEC: 6048000
          X_LOG_LEVEL: INFO

      - name: Build and push images
        uses: noi-techpark/github-actions/docker-build-and-push@v2
        with:
          working-directory: ${{ env.WORKING_DIRECTORY }}/infrastructure
          docker-username: ${{ github.actor }}
          docker-password: ${{ secrets.GITHUB_TOKEN }}

      - name: Deploy application
        uses: noi-techpark/github-actions/docker-deploy@v2
        with:
          working-directory: ${{ env.WORKING_DIRECTORY }}/infrastructure/ansible
          hosts: "test"
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}
          docker-username: "noi-techpark-bot"
          docker-password: ${{ secrets.GH_PERSONAL_ACCESS_TOKEN }}
          project-name: ${{ env.PROJECT_NAME }}

  # Deploy Prod
  deploy-prod-environment-a22-non-linear-calibration:
    runs-on: ubuntu-22.04
    if: github.ref == 'refs/heads/prod'
    needs: test
    concurrency: deploy-prod-environment-a22-non-linear-calibration
    steps:
      - name: Checkout source code
        uses: actions/checkout@v2

      - name: Create .env file
        uses: noi-techpark/github-actions/env-file@v2
        with:
          working-directory: ${{ env.WORKING_DIRECTORY }}
        env:
          # General deployment options
          X_COMPOSE_PROJECT_NAME: ${{ env.PROJECT_NAME }}
          X_DOCKER_IMAGE: ${{ env.DOCKER_IMAGE }}
          X_DOCKER_TAG: ${{ env.DOCKER_TAG }}

          # Program specific env variables
          CONTENT_API_URL: https://tourism.api.opendatahub.com/v1/
          AUTH_BASE: https://auth.opendatahub.com
          REALM : noi
          X_CLIENT_ID: odh-api-metadata
          X_CLIENT_SECRET: ${{ secrets.EL_METADATA_CLIENT_SECRET_PROD }}
          # run job every n seconds
          X_JOB_SCHEDULE_SEC: 6048000
          X_LOG_LEVEL: INFO

      - name: Build and push images
        uses: noi-techpark/github-actions/docker-build-and-push@v2
        with:
          working-directory: ${{ env.WORKING_DIRECTORY }}/infrastructure
          docker-username: ${{ github.actor }}
          docker-password: ${{ secrets.GITHUB_TOKEN }}

      - name: Deploy application
        uses: noi-techpark/github-actions/docker-deploy@v2
        with:
          working-directory: ${{ env.WORKING_DIRECTORY }}/infrastructure/ansible
          hosts: "prod"
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}
          docker-username: "noi-techpark-bot"
          docker-password: ${{ secrets.GH_PERSONAL_ACCESS_TOKEN }}
          project-name: ${{ env.PROJECT_NAME }}
